.mzk-button {
  &:hover {
    box-shadow: 3px 3px 0 #c8c8c8;
  }

  &:active {
    background-color: black;
    color: white;
  }

  align-items: center;
  background-color: white;
  border: 1px solid black;
  color: black;
  display: inline-flex;
  font-size: 0.875rem;
  padding: calc(0.33rem - 2px) 0.875rem;
  position: relative;
  text-align: center;
  transition: all ease-in-out 0.17s;
}
