#footer {
  background: url("../images/footer.jpg") no-repeat;
  background-position: 80% 100%;
  background-size: contain;
  display: flex;
  height: 120px;
  width: 100%;
  position: relative;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

p.footer-text {
  @include sans-serif;
  font-size: 9pt;
  align-self: flex-end;
  text-align: center;
  padding-bottom: 0.65rem;
  width: 100%;
}

@media (max-width: 499px) {
  p.footer-text {
    font-size: 7pt;
    width: 40%;
    padding-left: 1.5rem;
  }
}

@media (max-width: 799px) {
  p.footer-text {
    width: 60%;
    padding-left: 5%;
    text-align: left;
  }
}
