:root {
  --solarized-light-bg: #fdf6e3;
}

// Styles for smartphone
.article-content {
  p, h1, h2, h3, h4, h5, h6 {
    @apply px-6;
  }
  pre {
    max-width: 100vw;
    code.php\;,
    code.javascript\; {
      @apply overflow-hidden;
    }
  }
  pre.brush\: {
    @apply px-2 text-sm;
  }
  pre.wp-block-code,
  pre.wp-block-verse {
    @apply px-6 overflow-x-scroll text-sm;
  }
}

.article-content {
  // Styles for tablet-larger screen
  @screen md {
    p, h1, h2, h3, h4, h5, h6 {
      @apply px-12;
    }

    pre.brush\: {
      @apply px-12 text-base;
      code {
        @apply overflow-auto;
      }
    }
  }

  letter-spacing: .015em;
  blockquote.wp-block-quote {
    @apply bg-yellow-100 border-b-4 border-yellow-300 py-4 my-4 font-serif italic text-lg;
    p {
      @apply mb-0 pb-1;
    }
    cite {
      @apply pl-12 not-italic text-base;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply px-12 mb-2 font-bold;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }

  h6 {
    @apply text-base;
  }

  p {
    @apply mb-4 text-gray-800;
    code {
      @apply text-sm bg-teal-100 px-2 py-1 rounded-lg;
    }
  }

  ul {
    @apply list-disc;
  }
  ol {
    @apply list-decimal;
  }

  ul,
  ol {
    @apply mb-4 px-16;
    li {
      ul,
      ol {
        @apply mb-2 px-4;
      }
      ol {
        @apply list-decimal;
      }
    }
  }

  pre,
  pre.wp-block-verse {
    @apply py-4 px-12 mb-4;
  }

  pre {
    background-color: var(--solarized-light-bg);
    code.php\;,
    code.javascript\; {
      @apply text-sm;
    }
  }

  pre.wp-block-verse {
    @apply bg-blue-100;
  }

  figure.wp-block-image {
    @apply mb-2;
  }

  figcaption {
    @apply text-gray-600 text-sm font-serif text-center;
  }

  .footer-credits {
    @apply text-sm italic text-gray-500 mt-4;
  }
}
