<template>
  <div itemprop="blogPost" class="flex flex-col my-4">
    <div itemprop="datePublished" class="text-sm text-gray-600">{{ publishedDate }}</div>
    <g-link :to="`/blog/${slug}`">
      <h2
        itemprop="name"
        class="text-xl md:text-2xl font-bold text-blue-500 hover:text-blue-600 hover:underline"
        v-html="title"
      ></h2>
    </g-link>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true
    },
    slug: {
      type: String,
      required: true
    },
    publishedDate: {
      type: [String, Object],
      required: true
    }
  }
};
</script>
