<template>
  <section class="flex flex-col">
    <ReaderHead :fi="$page.post.featured_image" />
    <ReaderFlexHead :title="$page.post.title" :scrollFar="jumpIn" />

    <!-- Middle content | Main -->
    <div
      :class="['flex flex-col md:flex-row items-stretch max-w-4xl mx-auto mb-12 z-10', $page.post.featured_image ? 'mt-56' : 'mt-32'].join(' ')"
    >
      <!-- Sidebar -->
      <div class="w-11/12 mx-auto mt-4 order-last md:w-1/4 md:mt-0 md:order-first">
        <aside
          class="flex flex-col p-4 border border-black bg-white"
          style="box-shadow: 0 2px 9px rgba(90,90,90,.21);"
        >
          <div class="hidden md:block md:flex md:justify-center">
            <g-image
              class="rounded-full border border-gray-400"
              src="https://www.gravatar.com/avatar/2ab253f7675d011a856a246aab2f8536"
            ></g-image>
          </div>
          <div class="flex flex-col md:mt-6">
            <span class="text-sm text-gray-600">Penulis</span>
            <p class="font-bold">Muhammad Izzuddin Al Fikri</p>
          </div>
          <div class="flex flex-col mt-2 md:mt-4">
            <span class="text-sm text-gray-600">Ditulis pada tanggal</span>
            <p class="font-bold">{{ $page.post.date | dateFormat }}</p>
          </div>

          <div class="flex flex-col mt-2 md:mt-6">
            <span class="text-sm text-gray-600">Kategori</span>
            <p class="font-bold">{{ $page.post.categories.join(", ") }}</p>
          </div>

          <div class="hidden md:block flex mt-4 justify-center">
            <g-link :to="'/blog'">
              <div class="mzk-button is-small is-fullwidth">Kembali</div>
            </g-link>
          </div>
        </aside>
      </div>

      <!-- Content -->
      <div
        class="w-11/12 m-auto md:w-3/4 md:ml-4"
        style="background: linear-gradient(180deg,#000 190px,rgba(0,0,0,.25) 275px,rgba(0,0,0,.05));"
      >
        <div
          class="bg-white py-8"
          style="margin: 1px 1px 0 1px; box-shadow: 0 2px 9px rgba(90,90,90,.17);"
        >
          <h1 class="text-2xl md:text-3xl font-bold px-6 md:px-12" v-html="$page.post.title"></h1>
          <article
            class="mt-4 md:mt-8 leading-relaxed subpixel-antialiased article-content"
            v-highlightjs
            v-html="$page.post.content"
          ></article>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div class="flex flex-row">
      <reader-footer></reader-footer>
    </div>
  </section>
</template>

<script>
import ReaderHead from "../components/blog-post/ReaderHead";
import ReaderFlexHead from "../components/blog-post/ReaderFlexHead";
import ReaderFooter from "../components/blog-post/ReaderFooter";
import PublishedDateMixin from "../mixins/blogPublishedDate";

export default {
  components: {
    ReaderHead,
    ReaderFlexHead,
    ReaderFooter
  },
  mixins: [PublishedDateMixin],
  data() {
    return {
      jumpIn: false
    };
  },
  mounted() {
    const threshold = this.$page.post.featured_image ? 320 : 200;
    window.addEventListener("scroll", event => {
      this.jumpIn = window.scrollY >= threshold;
    });
  },
  beforeDestroy() {
    window.removeEventListener("scroll", event => (this.jumpIn = false));
  }
};
</script>

<style lang="scss" scoped>
@screen md {
  .sidebar-width {
    width: 218px;
  }
}
</style>

<page-query>
query($id: ID!) {
  post(id: $id) {
    title
    date
    content
    featured_image
    categories
  }
}
</page-query>
