<template>
  <section
    role="list"
    itemscope
    itemtype="https://schema.org/Blog"
    class="flex flex-col mx-auto max-w-2xl px-4 my-4 sm:px-0 sm:my-8"
  >
    <div class="flex items-center border-b-2 border-gray-100">
      <h1 class="flex-shrink text-gray-800 md:text-black text-5xl font-bold">Blog</h1>
      <div class="flex-grow text-right">
        <g-link to="/">
          <div class="mzk-button">Halaman Utama</div>
        </g-link>
      </div>
    </div>
    <BlogPost
      v-for="post in $page.posts.edges"
      :key="post.node.id"
      :title="post.node.title"
      :slug="post.node.slug"
      :publishedDate="post.node.date | dateFormat"
    />
    <hr>
    <Pager
      class="flex flex-row pt-4"
      :info="$page.posts.pageInfo"
      :linkClass="'mzk-button mr-2'"
    />
  </section>
</template>

<script>
import blogPublishedDateMixin from "../../mixins/blogPublishedDate";
import BlogPost from "../../components/home/blog-section/BlogPost";
import { Pager } from "gridsome";

export default {
  components: {
    BlogPost,
    Pager
  },
  metaInfo: {
    title: "Blog"
  },
  mixins: [blogPublishedDateMixin]
};
</script>

<page-query>
query($page: Int) {
  posts: allPost(
    perPage: 10, 
    page: $page, 
    sortBy: "date", 
    order: DESC) @paginate {
    pageInfo {
      totalPages
      currentPage
    }
    edges {
      node {
        id
        title
        date
        slug
      }
    }
  }
}
</page-query>
