<template>
    <div class="pht-onprogress flex flex-col items-center justify-center h-screen">
        <div class="pht-onprogress-card-description p-4 border border-black">
            <h1 class="text-4xl font-bold">Oops.. Maaf, sementara dalam penyusunan</h1>
            <div class="flex flex-row mt-4">
                <g-link class="mzk-button flex-shrink" to="/">Kembali</g-link>
                <div class="flex-grow text-right text-sm">
                    Photo by <a class="text-blue-600 hover:text-blue-700 hover:underline" href="https://unsplash.com/photos/mxtQ2Prc9vM" rel="nofollow">Caleb Woods</a> on <a class="text-blue-600 hover:text-blue-700 hover:underline" href="https://unsplash.com/" rel="nofollow">Unsplash</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    mounted() {
        console.log(`Photo by Caleb Woods on Unsplash: https://unsplash.com/photos/mxtQ2Prc9vM`)
    }
}
</script>

<style scoped>
    .pht-onprogress {
        background-image: url("../../../assets/images/mzk photography_onprogress caleb-woods.jpg");
        background-size: cover;
    }
    .pht-onprogress-card-description {
        background-color: rgba(255,255,255,.85);
    }
</style>