<template>
  <svg
    width="32px"
    height="32px"
    viewBox="0 0 32 32"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <defs>
      <polygon id="path-1" points="0.001875 0.00125 32 0.00125 32 31.805625 0.001875 31.805625" />
    </defs>
    <g id="Main-Page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="Desktop-HD" transform="translate(-809.000000, -910.000000)">
        <g id="Facebook-Logo" transform="translate(798.000000, 899.000000)">
          <g id="f_logo_RGB-Black_1024" transform="translate(11.000000, 11.000000)">
            <g id="Group-3">
              <mask id="mask-2" fill="white">
                <use xlink:href="#path-1" />
              </mask>
              <g id="Clip-2" />
              <path
                d="M32,16 C32,7.1634375 24.8365625,0 16,0 C7.1634375,0 0,7.1634375 0,16 C0,23.9860625 5.85096875,30.6053125 13.5,31.805625 L13.5,20.625 L9.4375,20.625 L9.4375,16 L13.5,16 L13.5,12.475 C13.5,8.465 15.8886875,6.25 19.5434375,6.25 C21.2939688,6.25 23.125,6.5625 23.125,6.5625 L23.125,10.5 L21.1074375,10.5 C19.1198438,10.5 18.5,11.7333437 18.5,12.9986562 L18.5,16 L22.9375,16 L22.228125,20.625 L18.5,20.625 L18.5,31.805625 C26.1490313,30.6053125 32,23.9860625 32,16"
                id="Fill-1"
                fill="#474747"
                mask="url(#mask-2)"
              />
            </g>
            <path
              d="M22.228125,20.625 L22.9375,16 L18.5,16 L18.5,12.9986562 C18.5,11.7333437 19.1198438,10.5 21.1074375,10.5 L23.125,10.5 L23.125,6.5625 C23.125,6.5625 21.2939688,6.25 19.5434375,6.25 C15.8886875,6.25 13.5,8.465 13.5,12.475 L13.5,16 L9.4375,16 L9.4375,20.625 L13.5,20.625 L13.5,31.805625 C14.3145938,31.9334375 15.1495,32 16,32 C16.8505,32 17.6854062,31.9334375 18.5,31.805625 L18.5,20.625 L22.228125,20.625"
              id="Fill-4"
              fill="#FFFFFE"
            />
          </g>
        </g>
      </g>
    </g>
  </svg>
</template>