<template>
  <svg
    width="36px"
    height="28px"
    viewBox="0 0 36 28"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <g id="Main-Page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g
        id="Desktop-HD"
        transform="translate(-597.000000, -912.000000)"
        fill="#474747"
        fill-rule="nonzero"
      >
        <g id="Gmail-Logo" transform="translate(588.000000, 899.000000)">
          <g id="gmail" transform="translate(9.000000, 13.000000)">
            <path
              d="M3.30339442,27.2918725 L32.6349323,27.2918725 C34.4564462,27.2918725 35.9383267,25.8098486 35.9383267,23.9881912 L35.9383267,3.34441434 C35.9383267,1.52275697 34.4564462,0.040876494 32.6349323,0.040876494 L3.30339442,0.040876494 C1.48188048,0.040876494 0,1.5229004 0,3.34441434 L0,23.9881912 C0,25.8098486 1.48188048,27.2918725 3.30339442,27.2918725 Z M2.15139442,3.34441434 C2.15139442,2.7081753 2.66787251,2.19227092 3.30339442,2.19227092 L32.6349323,2.19227092 C33.270741,2.19227092 33.7869323,2.7081753 33.7869323,3.34441434 L33.7869323,23.9881912 C33.7869323,24.6245737 33.2705976,25.1404781 32.6349323,25.1404781 L3.30339442,25.1404781 C2.66772908,25.1404781 2.15139442,24.6245737 2.15139442,23.9881912 L2.15139442,3.34441434 Z M6.41660558,23.619012 L4.26521116,23.619012 L4.26521116,3.80495618 L17.7005259,12.5274263 C17.8585817,12.6299761 18.0796016,12.6301195 18.2380876,12.5271394 L31.673259,3.80495618 L31.673259,23.619012 L29.5218645,23.619012 L29.5218645,7.76667729 L19.4093068,14.3318725 C18.9801753,14.6102629 18.4821992,14.7572749 17.9691633,14.7572749 C17.4561275,14.7572749 16.9581514,14.6102629 16.5293068,14.3320159 L6.41660558,7.76667729 L6.41660558,23.619012 Z"
              id="Shape"
            />
          </g>
        </g>
      </g>
    </g>
  </svg>
</template>