<template>
  <svg
    width="32px"
    height="32px"
    viewBox="0 0 32 32"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <defs>
      <polygon
        id="path-1"
        points="0 0.0100952381 31.9899048 0.0100952381 31.9899048 31.9961905 0 31.9961905"
      />
    </defs>
    <g id="Main-Page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="Desktop-HD" transform="translate(-739.000000, -910.000000)">
        <g id="Instagram-Logo" transform="translate(728.000000, 899.000000)">
          <g id="Instagram-Glyph" transform="translate(11.000000, 11.000000)">
            <g id="Group-3">
              <mask id="mask-2" fill="white">
                <use xlink:href="#path-1" />
              </mask>
              <g id="Clip-2" />
              <path
                d="M15.9949841,0.0100952381 C11.6509841,0.0100952381 11.1062857,0.0285079365 9.40025397,0.106349206 C7.69777778,0.184 6.53504762,0.454412698 5.51765079,0.84984127 C4.46584127,1.25853968 3.57384127,1.80546032 2.68457143,2.69466667 C1.79536508,3.58393651 1.24844444,4.47593651 0.839746032,5.52774603 C0.44431746,6.54514286 0.173904762,7.70787302 0.0962539683,9.41034921 C0.0184126984,11.116381 0,11.6610794 0,16.0050794 C0,20.3490159 0.0184126984,20.8937143 0.0962539683,22.599746 C0.173904762,24.3022222 0.44431746,25.4649524 0.839746032,26.4823492 C1.24844444,27.5341587 1.79536508,28.4261587 2.68457143,29.3154286 C3.57384127,30.2046349 4.46584127,30.7515556 5.51765079,31.1603175 C6.53504762,31.5556825 7.69777778,31.8260952 9.40025397,31.903746 C11.1062857,31.9815873 11.6509841,32 15.9949841,32 C20.3389206,32 20.883619,31.9815873 22.5896508,31.903746 C24.292127,31.8260952 25.4548571,31.5556825 26.472254,31.1603175 C27.5240635,30.7515556 28.4160635,30.2046349 29.3053333,29.3154286 C30.1945397,28.4261587 30.7414603,27.5341587 31.1502222,26.4823492 C31.5455873,25.4649524 31.816,24.3022222 31.8936508,22.599746 C31.9714921,20.8937143 31.9899048,20.3490159 31.9899048,16.0050794 C31.9899048,11.6610794 31.9714921,11.116381 31.8936508,9.41034921 C31.816,7.70787302 31.5455873,6.54514286 31.1502222,5.52774603 C30.7414603,4.47593651 30.1945397,3.58393651 29.3053333,2.69466667 C28.4160635,1.80546032 27.5240635,1.25853968 26.472254,0.84984127 C25.4548571,0.454412698 24.292127,0.184 22.5896508,0.106349206 C20.883619,0.0285079365 20.3389206,0.0100952381 15.9949841,0.0100952381 Z M15.9949841,2.89206349 C20.2657778,2.89206349 20.7716825,2.90838095 22.4582857,2.98533333 C24.0177778,3.05644444 24.8646984,3.31701587 25.4283175,3.53606349 C26.1749206,3.82622222 26.707746,4.1728254 27.2674286,4.73257143 C27.8271746,5.29225397 28.1737778,5.82507937 28.4639365,6.57168254 C28.6829841,7.13530159 28.9435556,7.98222222 29.0146667,9.54171429 C29.091619,11.2283175 29.1079365,11.7342222 29.1079365,16.0050794 C29.1079365,20.275873 29.091619,20.7817778 29.0146667,22.468381 C28.9435556,24.027873 28.6829841,24.8747937 28.4639365,25.4384127 C28.1737778,26.1850159 27.8271746,26.7178413 27.2674286,27.2775238 C26.707746,27.8372698 26.1749206,28.183873 25.4283175,28.4740317 C24.8646984,28.6930794 24.0177778,28.9536508 22.4582857,29.0247619 C20.7719365,29.1017143 20.2660952,29.1180317 15.9949841,29.1180317 C11.7238095,29.1180317 11.2180317,29.1017143 9.53161905,29.0247619 C7.97212698,28.9536508 7.12520635,28.6930794 6.5615873,28.4740317 C5.81498413,28.183873 5.28215873,27.8372698 4.72247619,27.2775238 C4.16279365,26.7178413 3.81612698,26.1850159 3.52596825,25.4384127 C3.30692063,24.8747937 3.04634921,24.027873 2.9752381,22.468381 C2.89828571,20.7817778 2.88196825,20.275873 2.88196825,16.0050794 C2.88196825,11.7342222 2.89828571,11.2283175 2.9752381,9.54171429 C3.04634921,7.98222222 3.30692063,7.13530159 3.52596825,6.57168254 C3.81612698,5.82507937 4.16273016,5.29225397 4.72247619,4.73257143 C5.28215873,4.1728254 5.81498413,3.82622222 6.5615873,3.53606349 C7.12520635,3.31701587 7.97212698,3.05644444 9.53161905,2.98533333 C11.2182222,2.90838095 11.724127,2.89206349 15.9949841,2.89206349 L15.9949841,2.89206349 Z"
                id="Fill-1"
                fill="#474747"
                mask="url(#mask-2)"
              />
            </g>
            <path
              d="M16.0000316,21.3137528 C13.0652816,21.3137528 10.6862472,18.9347184 10.6862472,16.0000316 C10.6862472,13.0652816 13.0652816,10.6862472 16.0000316,10.6862472 C18.9347184,10.6862472 21.3137528,13.0652816 21.3137528,16.0000316 C21.3137528,18.9347184 18.9347184,21.3137528 16.0000316,21.3137528 Z M16.0000316,7.81395349 C11.4789423,7.81395349 7.81395349,11.4789423 7.81395349,16.0000316 C7.81395349,20.5210577 11.4789423,24.1860465 16.0000316,24.1860465 C20.5210577,24.1860465 24.1860465,20.5210577 24.1860465,16.0000316 C24.1860465,11.4789423 20.5210577,7.81395349 16.0000316,7.81395349 L16.0000316,7.81395349 Z"
              id="Fill-4"
              fill="#474747"
            />
            <path
              d="M26.4186047,7.44189124 C26.4186047,8.46940734 25.5856249,9.30232558 24.5581088,9.30232558 C23.5306542,9.30232558 22.6976744,8.46940734 22.6976744,7.44189124 C22.6976744,6.41437513 23.5306542,5.58139535 24.5581088,5.58139535 C25.5856249,5.58139535 26.4186047,6.41437513 26.4186047,7.44189124"
              id="Fill-5"
              fill="#474747"
            />
          </g>
        </g>
      </g>
    </g>
  </svg>
</template>