<template>
  <svg
    width="36px"
    height="38px"
    viewBox="0 0 36 38"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <g id="Main-Page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g
        id="Desktop-HD-(Next-section)"
        transform="translate(-547.000000, -49.000000)"
        fill="#FFE600"
        fill-rule="nonzero"
      >
        <g id="#2-Floating-Header-(Social-Media)" transform="translate(498.000000, 30.000000)">
          <g id="mzk-Logo" transform="translate(40.000000, 11.000000)">
            <g id="mzk_logo" transform="translate(9.000000, 8.000000)">
              <path
                d="M35.8680218,17.94 C35.8775865,24.0624828 32.7266649,29.7563727 27.534,33 C33.1544545,28.9239938 35.5096647,21.691521 33.3670851,15.0875307 C31.2245056,8.4835404 25.0718622,4.01133102 18.129,4.01133102 C11.1861378,4.01133102 5.0334944,8.4835404 2.89091487,15.0875307 C0.748335331,21.691521 3.10354549,28.9239938 8.724,33 C1.49734405,28.4780211 -1.48990733,19.4543786 1.61095607,11.5135036 C4.71181946,3.57262868 13.0235023,-1.03884876 21.4021814,0.53296085 C29.7808605,2.10477046 35.8560425,9.41517121 35.8680218,17.94 Z"
                id="Path"
              />
              <path
                d="M31.8000016,20.226 C31.8029061,26.1755576 27.9535639,31.4423121 22.284,33.246 C27.5009355,31.2484124 30.5495985,25.8126365 29.5338736,20.3194521 C28.5181487,14.8262677 23.7273022,10.8400671 18.141,10.8400671 C12.5546978,10.8400671 7.76385125,14.8262677 6.74812639,20.3194521 C5.73240153,25.8126365 8.78106452,31.2484124 13.998,33.246 C7.32391814,31.1237654 3.33544187,24.298446 4.76273141,17.4420553 C6.19002096,10.5856647 12.5707947,5.91890399 19.5373358,6.63622737 C26.5038769,7.35355076 31.8000016,13.2226259 31.8000016,20.226 L31.8000016,20.226 Z"
                id="Path"
              />
              <ellipse id="Oval" cx="18.132" cy="35.376" rx="2.1" ry="2.142" />
            </g>
          </g>
        </g>
      </g>
    </g>
  </svg>
</template>