<template>
  <svg
    width="32px"
    height="26px"
    viewBox="0 0 32 26"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <g id="Main-Page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="Desktop-HD" transform="translate(-669.000000, -913.000000)" fill="#474747">
        <g id="Twitter-Logo" transform="translate(658.000000, 899.000000)">
          <path
            d="M21.063744,40.006784 C33.139776,40.006784 39.743552,30.002176 39.743552,21.326976 C39.743552,21.042688 39.737792,20.75968 39.724736,20.478208 C41.006528,19.551616 42.120896,18.395392 43,17.078912 C41.823552,17.601408 40.557632,17.953664 39.229632,18.112384 C40.585152,17.29984 41.625792,16.013696 42.116544,14.480768 C40.847808,15.232768 39.443264,15.779712 37.94784,16.07424 C36.749888,14.798208 35.043648,14 33.155648,14 C29.529664,14 26.589376,16.940288 26.589376,20.564864 C26.589376,21.080192 26.647104,21.581056 26.759616,22.061824 C21.30336,21.78752 16.46496,19.174912 13.2272,15.202432 C12.662848,16.172416 12.338112,17.29984 12.338112,18.502144 C12.338112,20.780032 13.497152,22.790784 15.259584,23.967104 C14.182848,23.933952 13.171008,23.638016 12.286144,23.145728 C12.284608,23.17312 12.284608,23.20064 12.284608,23.22944 C12.284608,26.409472 14.548032,29.063936 17.551808,29.66592 C17.000512,29.815936 16.42016,29.896832 15.82112,29.896832 C15.398208,29.896832 14.986816,29.854976 14.586944,29.778432 C15.422784,32.386816 17.846336,34.284928 20.720192,34.338432 C18.472768,36.099328 15.642176,37.148672 12.566208,37.148672 C12.036416,37.148672 11.51392,37.118464 11,37.057792 C13.905728,38.919808 17.355584,40.006784 21.063744,40.006784"
            id="Fill-1"
          />
        </g>
      </g>
    </g>
  </svg>
</template>