<template>
  <div class="flex flex-col items-center justify-center h-screen bg-white">
    <h1 class="text-4xl font-bold">Oops.. Maaf, sementara dalam penyusunan</h1>
    <g-link class="mzk-button" to="/">Kembali</g-link>
    <g-image width="850" src="~/assets/images/webdev-on-progress-mzk.svg"></g-image>
  </div>
</template>