<template>
  <main role="main-content">
    <ProfileSection />
    <BlogAndPortofolioSection />
  </main>
</template>

<script>
import HomepageJsonLd from "../json-ld/homepage";
import ProfileSection from "~/components/home/ProfileSection";
import BlogAndPortofolioSection from "~/components/home/BlogAndPortofolioSection";

export default {
  components: {
    ProfileSection,
    BlogAndPortofolioSection
  },
  metaInfo: {
    title: "Wings of Dream",
    script: [HomepageJsonLd]
  },
  mounted() {
    // console.log(this.$store.getters.activeTheme);
  }
};
</script>

<style>
.home-links a {
  margin-right: 1rem;
}
</style>

<page-query>
query {
  posts: allPost(sortBy: "date", order: DESC, limit: 3) {
    edges {
      node {
        id
        title
        date
        slug
      }
    }
  }
}
</page-query>
