<template>
  <section
    role="list"
    itemscope
    itemtype="https://schema.org/Blog"
    class="w-full flex-grow px-6 md:w-1/2 md:my-32 md:px-16"
  >
    <h1 class="text-gray-800 md:text-black text-5xl font-bold mb-3">Blog</h1>
    <BlogPost
      v-for="post in $page.posts.edges"
      :key="post.node.id"
      :title="post.node.title"
      :slug="post.node.slug"
      :publishedDate="post.node.date | dateFormat"
    />
    <g-link to="/blog/" class="text-lg md:text-xl font-bold">Lihat semua tulisan</g-link>
  </section>
</template>

<script>
import blogPublishedDateMixin from "../../mixins/blogPublishedDate";
import BlogPost from "./blog-section/BlogPost";

export default {
  components: {
    BlogPost
  },
  mixins: [blogPublishedDateMixin]
};
</script>

<page-query>
query {
  posts: allPost(sortBy: "date", order: DESC, skip: 3) {
    edges {
      node {
        id
        title
        date
        slug
      }
    }
  }
}
</page-query>
