<template>
  <section id="blog-and-portofolio" class="flex flex-col md:flex-row h-screen">
    <BlogSection />
    <PortofolioSection />

    <!-- Social Bar -->
    <div v-if="jumpIn" class="fixed z-50 inset-x-0 top-0">
      <ContactInformation :additionalClass="'mt-8'" :asSocialBar="true" />
    </div>
  </section>
</template>

<script>
import BlogSection from "./BlogSection";
import PortofolioSection from "./PortofolioSection";
import ContactInformation from "./ContactInformation";

export default {
  components: {
    BlogSection,
    PortofolioSection,
    ContactInformation
  },
  data() {
    return {
      jumpIn: false
    };
  },
  mounted() {
    const screenHeight = window.innerHeight - 10;
    window.addEventListener("scroll", event => {
      this.jumpIn = window.scrollY >= screenHeight;
    });
  },
  beforeDestroy() {
    window.removeEventListener("scroll", event => (this.jumpIn = false));
  }
};
</script>