<template>
  <!-- Social Media -->
  <div :class="[flexCenter, additionalClass].join(' ')">
    <div :class="[flexCenter, asSocialBar ? socialBarStyle : ''].join(' ')">
      <MzkLogo v-if="asSocialBar" style="margin: 8px 25px" />
      <g-link to="mailto:muhammadizzuddinalfikri@gmail.com" rel="nofollow">
        <GmailLogo style="margin: 13px 25px 13px 9px" />
      </g-link>

      <g-link to="https://twitter.com/saiko_mizuki" rel="nofollow">
        <TwitterLogo style="margin: 12px 25px 12px 9px" />
      </g-link>

      <g-link to="https://instagram.com/kuroi_ren" rel="nofollow">
        <InstagramLogo style="margin: 9px 25px 9px 9px" />
      </g-link>

      <g-link to="https://facebook.com/yozora.mizuki" rel="nofollow">
        <FacebookLogo style="margin: 9px 25px 9px 9px" />
      </g-link>
    </div>
  </div>
</template>
<script>
import logo from "../svg/social_media";

export default {
  props: {
    additionalClass: {
      type: String,
      required: false
    },
    asSocialBar: {
      type: Boolean,
      required: false
    }
  },
  components: { ...logo },
  data() {
    return {
      flexCenter: "flex justify-center",
      socialBarStyle: "bg-white border border-solid border-gray-600 shadow-xl"
    };
  }
};
</script>