<template>
  <section class="w-full flex-grow my-8 px-6 md:w-1/2 md:my-32 md:px-16" style="border-left: 1px solid #eee;">
    <h1 class="text-gray-800 md:text-black text-5xl font-bold">Portofolio</h1>

    <div class="flex flex-col">
      <!-- Web Development -->
      <div class="w-full my-2 md:w-2/3 md:my-6 cursor-pointer hover:shadow-lg" style="transition: all ease .235s">
        <g-link to="/portofolio/webdev">
          <g-image src="~/assets/images/web_development_skill.png"></g-image>
        </g-link>
      </div>

      <!-- Graphic Design -->
      <div class="w-full my-2 md:w-2/3 md:my-6 cursor-pointer hover:shadow-lg" style="transition: all ease .235s">
        <g-link to="/portofolio/graphic-design">
          <g-image src="~/assets/images/graphic_design_skill.png"></g-image>
        </g-link>
      </div>

      <!-- Photography -->
      <div class="w-full my-2 md:w-2/3 md:my-6 cursor-pointer hover:shadow-lg" style="transition: all ease .235s">
        <g-link to="/portofolio/photography">
          <g-image src="~/assets/images/photography_skill.png"></g-image>
        </g-link>
      </div>
    </div>
  </section>
</template>