<template>
  <section
    itemscope
    itemtype="https://schema.org/ProfilePage"
    id="profile-section"
    class="flex-col h-screen"
  >
    <!-- Featured Home Cover -->
    <div class="header-background">
      <g-image
        src="~/assets/images/muhammad_izzuddin_al_fikri_header.png"
        class="object-cover object-center h-64 personal-page-header-bg"
      ></g-image>
    </div>

    <!-- Avatar -->
    <div class="flex justify-center">
      <g-image
        itemprop="image"
        src="~/assets/images/muhammad_izzuddin_alfikri_avatar.jpg"
        alt="Muhammad Izzuddin Al Fikri's avatar"
        class="-mt-12 border-4 border-white shadow-lg personal-page-home-avatar"
      />
    </div>

    <!-- Brief introduction -->
    <div class="flex flex-col mt-6">
      <p class="text-center">Hi there, my name is</p>
      <h1 itemprop="author" class="text-center text-xl sm:text-2xl font-bold">
        Muhammad Izzuddin Al Fikri
      </h1>
      <p class="mt-10 text-center text-base sm:text-lg" itemprop="about">
        I’m a
        <span class="font-bold text-blue-500">Web Developer</span>,
        <span class="font-bold text-yellow-600">Hobbyist Graphic Designer</span
        >, <br />and
        <span class="font-bold text-teal-400">Amateur Photographer</span>.
      </p>

      <!-- Contact Information -->
      <ContactInformation
        :additionalClass="contactInformationAdditionalClass"
      />
    </div>
  </section>
</template>

<script>
import ContactInformation from "./ContactInformation";

export default {
  components: {
    ContactInformation
  },
  data() {
    return {
      contactInformationAdditionalClass: "mt-16"
    };
  },
  mounted() {
    if (!process.isClient) return;
    this.contactInformationAdditionalClass =
      window.innerHeight <= 800 ? "mt-8" : "mt-16";
  },
  computed: {
    theme() {
      return this.$store.getters.activeTheme;
    }
  }
};
</script>

<style lang="scss">
@screen md {
  .personal-page-header-bg {
    height: 50vh;
  }
}
.personal-page-home-avatar {
  max-width: 100px;
  max-height: 100px;
  border-radius: 100%;
}
</style>
