<template>
    <div ref="doodle">
        <css-doodle v-if="minSize">
            :doodle { @grid: 7 / {{ minSize }} 250px; overflow: hidden; background:
            transparent; } background: rgba(96, 86, 158, @rand(.9)); transition: .7s
            ease @rand(200ms); transform: rotate(@rand(360deg)); clip-path: polygon(
            @rand(20%) 35%, 10% @rand(15%), 0 @rand(5%) );
        </css-doodle>
    </div>
</template>

<script>
const cssDoodle = () => import (
    /* webpackChunkName: "css-doodle" */
    /* webpackMode: "eager" */
    'css-doodle'
);

export default {
  data() {
    return {
      doodle: null,
      minSize: ""
    };
  },
  /**
   * This trick need to do if you want to utilise
   * 'window' global object. Because it should
   * not executed on server
   */
  async mounted() {
    if (!process.isClient) return;
    try {
      await cssDoodle();
      this.$nextTick(this.init());
    } catch (error) {
      console.error({ error });
    }
  },
  methods: {
    init() {
      this.doodle = this.$refs.doodle.firstElementChild;
      this.minSize = `${document.body.clientWidth}px`;
    }
  }
};

</script>

<style></style>
