<template>
  <div>
      Project 30
      <div v-for="photo in $page.photos.edges" :key="photo.node.id">
        <!-- <g-image :src="photo.node.local_url" width="500" height="200" quality="100" :title="photo.node.title" /> -->
        <grid-image :name="photo.node.id"></grid-image>
      </div>
  </div>
</template>

<script>
import GridImage from '../../../../components/GridImage'
export default {
  components: {
    GridImage
  }
}
</script>

<page-query>
query {
  photos: allProjectThirty {
    edges {
      node {
        id
        title
        url,
        local_url,
        width,
        height
      }
    }
  }
}
</page-query>
