<template>
    <div class="gd-neumorph flex flex-col items-center justify-center h-screen text-white">
        <h1 class="text-4xl font-bold">Oops.. Maaf, sementara dalam penyusunan</h1>
        <g-link class="gd-neumorph-button p-4 mt-4" to="/">Kembali</g-link>
  </div>
</template>

<style scoped>
    .gd-neumorph {
        background-color: #292D32;
    }
    .gd-neumorph-button {
        background: #2A2D32;
        box-shadow: -7px -7px 10px #30343A, 7px 7px 10px #24262B;
        border-radius: 10px;
        transition: all 0.25s ease-in-out;
    }
    .gd-neumorph-button:hover {
        box-shadow: -11px -11px 15px #30343A, 11px 11px 15px #24262B;
    }
</style>