<template>
  <div>
    <div
      v-if="fi"
      class="w-full absolute inset-0"
      :style="
      `background-image: url(${fi}); background-size: cover; height: 320px; z-index: -1; background-position: center`
    "
    >&nbsp;</div>
    <aside v-else class="css-doodle absolute inset-0 z-0" style="max-height: 250px;" @click="updateDoodle">
      <css-doodle></css-doodle>
    </aside>
  </div>
</template>

<script>
import CssDoodle from '../CssDoodle'
export default {
  props: {
    fi: {
      type: String,
      required: false
    }
  },
  components: {
    'css-doodle': CssDoodle
  },
  methods: {
    updateDoodle(event) {
      event.target.update();
    }
  }
  // mixins: [cssDoodle]
};
</script>

<style lang="scss" scoped>
.css-doodle {
  max-width: 100vw;
}
</style>