<template>
  <div
    :class="['w-full flex items-center py-3 bg-white fixed frh z-20', !showMe ? 'frh-hidden' : ''].join(' ')"
  >
    <div class="flex-shrink px-2 md:px-4">
      <g-link to="/blog">
        <div class="mzk-button is-small is-fullwidth">Kembali</div>
      </g-link>
    </div>
    <!-- Title -->
    <div class="w-3/5 md:w-11/12 flex-grow text-center text-base md:text-lg truncate font-bold" v-html="title"></div>
    <!-- Avatar -->
    <div class="flex-shrink px-2 md:px-4">
      <g-image
        class="rounded-full border border-gray-400 flex-reader-avatar"
        src="https://www.gravatar.com/avatar/2ab253f7675d011a856a246aab2f8536"
        width="48"
        height="48"
      ></g-image>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true
    },
    scrollFar: {
      type: Boolean,
      required: true
    }
  },
  computed: {
    showMe() {
      return this.scrollFar;
    }
  }
};
</script>

<style scoped>
img.flex-reader-avatar {
  width: 36px;
  height: 36px;
}

.frh {
  background-color: rgba(255, 255, 255, 0.75);
  border-bottom: 1px solid rgba(70, 70, 70, 0.335);
  box-shadow: 0 2px 5px rgba(90, 90, 90, 0.125);
  top: 0;
  transition: all 0.35s cubic-bezier(0.19, 1, 0.22, 1);
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17px);
}

.frh-hidden {
  top: -68px;
}
</style>